- if post.data.image_title
  .image-title{style: "background: url(#{post.data.image_title}); background-size: 100%;"}
    .color-bg
      %h1
        = post.data.title
- else
  .image-title.image-title-small
    .color-bg
      %h1
        = post.data.title
